.container{
    height: 100vh; /* Use viewport height to fill the entire screen */
    width: 100%;
    background-color: #fff;
    padding: 0px 10px;
    display: flex; /* Use flexbox to align items vertically */
    flex-direction: column; 
}

.main {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: flex-start; /* Align children to the top */
}

.titleText {
    margin: 0 auto;
    font-size: 2rem;
  }

.content {
width: 100%;
}

.cardContainer {
    margin-top:1rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-width: 1150px;
    padding: 1rem 2rem;
    border-radius: 8px;
    overflow-x: scroll;

}

.leaderCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid light-gray;
    border-radius: 8px;
    padding: 10px;
    background-color: #f5f5f5;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .leaderCard:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

