.navbar{
    display: flex;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    background-size: cover;
    padding: 10px;
    border-bottom:3px solid #000;
}

.homeLogo{
    width: 80px;
    padding: 2px;
}

.iconStyle{
    opacity: 0.7;
    transition: opacity 0.3s;
    cursor: pointer;
}
  
.iconStyle:hover {
    opacity: 1;
}